.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

a:hover {
  color: grey;
}
.form__fo {
  padding: 10px;
  width: 100%;
}
.header__logo {
  height: 50px;
  object-fit: contain;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchInput {
  height: 40px;
  padding: 10px;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header__option {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.hedaer__optionLineOne {
  font-size: 10px;
}
.hedaer__optionLineTwo {
  font-size: 16px;
  font-weight: bold;
}
.header_shopingOption {
  display: flex;
  align-items: center;
}
.headerCounter {
  padding: 10px;
}

.search-button {
  height: 40px;
  color: black;
  background-color: #07bdff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.ogaysis {
  align-items: center;
  height: 30px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #07bdff;
  column-gap: 15px;
}

.search-selection > button {
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #c1e3e6;
  color: black;
  width: 140px;
}

.search-selection > button:focus {
  background-color: #07bdff !important;
}

.search-selection > button:hover {
  background-color: #07bdff !important;
}
